* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html, body, header {
	height: 100%;
	}

html {
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}
.nav-container {
	position: fixed;
	height: 70px;
	display: flex;
	width: 100%;
	padding: 0 3%;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	z-index: 100;
}
.topnav {
	display: flex;
	width: 60%;
	justify-content: flex-end;
}
.nav-link {
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
	/*пробелы между буквами*/
	letter-spacing: 0.5px;
	padding: 10px 15px;
	transition: 0.8s;
	border-spacing: 5px;
}
.nav-link:hover {
	background-color: black;
	color: white;
	transition: 0.8s;
}
.logo {
	font-size: 1.8rem;
	font-weight: bold;
	width: 200px;
	
}
.search-container {
	width: 15%;
	margin-left: 5px;
}
#search {
	background-image: url(../img/search.png);
	background-position: 0 center;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	border: none;
	padding-left: 20px;
	font-size: 1.5rem;
	outline: none;
}
#search:focus {
	border-bottom: 2px solid blue;
	width: 90%;
}


.header {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	height: calc(100%-70px);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	
	


}
.header:after{
	content: "";
	position: absolute;
	width: 100%;
	height:100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);

}
.box {
	z-index: 10;
	text-align: center;
	margin-top: 250px;

}
h1 {
	font-size: 5rem;
	letter-spacing: 1px;

}
p {
	font-size: 1.6rem;
	margin-top: 20px;
	letter-spacing: 0.5px;
}
.header-btn  {
	width: 200px;
	height: 60px;
	font-size: 1.6rem;
	margin-top: 40px;
	border-radius: 10px;
	outline: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.75px;
}
.green	{
	/*отступ правой кнопки от левой*/
	margin-left: 20px;
	background-color: purple;
	border: 2px solid purple;
	color: white;
}
.tsp {
	background-color: brown;
	border: 2px solid brown;
	color: orange;
}
.img {
	display: block;
	

}
.img>img {
	align-items: center;
	width: 50px;
	margin-top: 150px;

}
.first-item {
	letter-spacing: 1px;
	display: block;
}
.icon {
	margin-left: 100px;
}
.first {
	margin-left: 550px;
}