* {
	box-sizing: border-box; /*размеры считаются по границе border*/
}
body {

	 background-image: url(http://oboi-dlja-stola.ru/file/9497/760x0/16:9/%D0%9A%D0%BE%D0%B4.jpg); 
	 margin: 0; /*убрать отступ*/
	}

.main, h1 {
	border: ridge purple 5px;
	width:  65%;
	margin: auto; /*автоматический одинаковый отступ слева и справа*/
	 
	/*margin-top: 100px;*/ /*вверх*/
	/*margin-bottom:200px;*/ /*низ*/
	/*margin-right: 50px;
	margin-left: 10px;*/}
h1 {background-color: gold;
	color: white;
	text-align: center; /*горизонталь центр, горизонтальное выравнивание текста по центру*/
	padding: 10px 0;
}
.main {
	background-color: white;
	padding: 20px 20px;
	text-indent: 40px;
	font-size: 20px; /*отступ абзаца*/
}
p {
	font-family: 'Amatic SC', cursive;
}
.p2 {
	font-family: 'Lobster', cursive;
}
.p3 {
	font-family: 'Open Sans Condensed', sans-serif;
}
.p4 {
	font-family: 'Source Code Pro', monospace;
}
.p5 {
	font-family: font-family: 'Neucha', cursive;
}
img {
	/*width: 100%; /*центр*/
	margin-bottom: 40px;
	height: 500px;
	width: 47%;
	
}
.imgg {
	width: 100%;
	margin-top: 50px;
	border: ridge 5px gold; 
	}
.imggg {
	border: double 20px gray;
	margin-left: 33px;
}

a {
	text-decoration: none;
	color: rgb(215,166,81);
}
.navigation {
	color: black;
	padding: 10px;
	background-color: rgb(128,113,113);
	border: gold 5px ridge;
}
.color {
	color: rgb(204,204,102);
	border: ridge 3px gray;
	background-color: rgb(128,113,113); 
}



