table {
	border: 7px double;
	border-collapse: separate;/*separate*/
	width: 60%;
	margin: auto;
	margin-top: 0px;
	border-color: gold;
	border-radius: 10px;
}
td,th {
	border: 2px groove green;
	padding: 7px;
	background-color: green;
	color: white;
	
}

body {
	background-image: url(https://million-wallpapers.ru/wallpapers/4/14/9599829852371276923.jpg);
	background-size: cover;

}
/*background-image {
	height: 100vh;
	width: 100vw; 
}*/

h1 {
	color: rgb(62, 73, 160);
	margin-top: 40px;
	border: rgb(145, 248, 248) double 10px;
	width: 60%;
	background-color: rgb(255, 245, 242);
	border-radius: 10px;
	padding: 10px 0;
}

#a3 {
	
	background-color: blue;
}
#a2>td:nth-child(1) {
background-color: blue;
}

#a5>td {
	color: red;
}
#a3>td:nth-child(3) {
	background-color: hotpink;
}
#a9> {
	background-color: gold;
}
#a10>td:nth-child(2) {

	background-color: gold;	
}

#a11>td:nth-child(2) {

	background-color: gold;

}
#a12>td:nth-child(2){

	background-color: gold;
	
}
#a13>td:nth-child(2){

	background-color: gold;
	
}
#a14>td:nth-child(2){

	background-color: gold;
	
}

#a8+tr:nth-child(2) {
	color: black;
}

